
/* Scroll bar genel yapı */
.scroll-container {
    scrollbar-width: thin; /* Firefox için */
    scrollbar-color: theme(colors.primary/80) transparent; /* Thumb ve Track renkleri (Firefox) */
  }
  
  /* Chrome, Edge ve Safari */
  .scroll-container::-webkit-scrollbar {
    width: 8px; /* Scroll bar genişliği */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: transparent; /* Arka plan rengi */
    border-radius: 10px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background: theme(colors.primary/80); /* Scroll bar'ın kendisi */
    border-radius: 10px;
    border: 2px solid transparent; /* Track ile thumb arasında boşluk */
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: theme(colors.primary); /* Hover rengi */
  }
  