#loader-first-book {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 0s;
  }
  #loader-second-book {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 0.2s;
  }
  #loader-third-book {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 0.4s;
  }
  #loader-fourth-book {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 0.6s;
  }
  #loader-r {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 0.8s;
  }
  #loader-e {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 1s;
  }
  #loader-a {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 1.2s;
  }
  #loader-d {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 1.4s;
  }
  #loader-h {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 1.6s;
  }
  #loader-u {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 1.8s;
  }
  #loader-g {
    animation: fadeInWave 2s ease-in-out infinite;
    animation-delay: 2s;
  }
  
  @keyframes fadeInWave {
    0%, 100% {
      opacity: 0;
      display: none;
    }
    50% {
      opacity: 1;
      display: block;
    }
  }
  